*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* En dessous on vient setup les couleurs de base du site le "mode clair" */
:root {
    --fond: #f0f0f0;
    --fond2: white;
    --text: #121212;
    --header_text:rgb(143, 189, 226);
}

/* le dark mode sera appliqué avec javascript*/
.dark-mode{
    --fond: #151515;
    --fond2: #1e1e1e;
    --text: #f0f0f0;
    --header_text:rgb(158, 119, 230);
}

header{
    /*background-color: #32506e;*/
    background: linear-gradient(to bottom, #32506e, #1c2e40);
    color: white;
    padding: 40px 20px;
    text-align: center;
    display: flex;
    flex-direction: column; /* range les blocs en colone l'un au dessus de l'autre*/
    align-items: center;
}

header nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 0px;
    margin-top: 40px;
}

#dark-mode-toggle{
    display: none;
}

.toggle-label{
    width: 50px;
    height: 26px;
    background-color: #23415F;
    display: block;
    border: 1px solid #143250;
    border-radius: 50px;
    position: relative;/* sert à positionner le futur rond à l'interieur de l'objet*/
    cursor: pointer; /* permet d'afficher "👆" quand la souris passe sur l'objet*/
    transition: background-color 0.3s;
}

.toggle-label::after{
    content: ""; /* obligatoire, car de base ::after est fait pour rajouter un vrai symbole ex "€", ici on veut juste "créer un cercle" donc on doit lui donner un content vide */
    width: 20px;
    height: 20px;
    background-color: rgb(143, 189, 226);/*rgb(75, 105, 129)*/
    box-shadow: 0 0 10px rgb(143, 189, 226);
    display: block;
    border-radius: 50%;
    position: absolute;/* sert à donné les mouvements top, left, right, bottom au cercle */
    top: 2px;
    left: 3px;
    transition: transform 0.3s;/* pour l'effet de glisse du rond quand on clique*/
}


#dark-mode-toggle:checked + .toggle-label::after {
    transform: translateX(23px); /* On déplace le cercle de 24px vers la droite */
    background-color: rgb(158, 119, 230);
    box-shadow: 0 0 10px rgb(158, 119, 230);
}

header nav a{
    text-decoration: none; /*permet de définir ce qu'on veut pour reconnaitre le lien hypertext, le classico souligné (ici il est descativé car pas beau)*/
    color: white;
    font-weight: bold; /* Passe le text en gras */
    font-size: 1.1rem; /* augmente légèrement la taille du texte */
    text-transform: uppercase; /* Force la majuscule sur le texte*/
    transition: 0.3s; /* sert à setup l'animation de survole du bloc */
}

header nav a:hover{
    color: var(--header_text);
    /*background-color: white;
    border: 2px solid #3498db; tout ce bloc crée une cartouche ou est rangé le texte et brille
    border-radius: 6px;
    box-shadow: 0 0 15px #3498db;*/
    text-shadow: 
        /* 0 0 5px #3498db,   /*Petite lueur */
        /* 0 0 10px #3498db,  /*Moyenne lueur */
        0 0 15px var(--header_text); /*Grande aura base color -> #3498db*/;
        /* 0px horizontal, 0px vertical, 15px de flou, couleur bleue */
}

h2{
    color: #3498db;
    border-bottom: 2px solid #3498db; /* border créer une ligne, bottom définit l'endroit*/
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: block;         
}

body{
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    background-color: var(--fond);
    color: var(--text);
    transition: background-color 0.3s, color 0.3s; /* transition pendant le passage en dark mode */
}

section{
    background-color: var(--fond2);
    max-width: 800px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 10px; /* modifie les bords du bloc en question */
}

.skills-badges {
    list-style-type: none; /* ici c'est pour définir quel symbole on veut pour afficher la liste, des numéros ou des carrés etc... */
    padding-left: 0;
    display: flex; /* "Flex" fait aligner les objets */
    flex-wrap: wrap;/* si y'a pas la place sur l'écran qui display comme un téléphone, les blocs vont à la ligne*/
    gap: 10px;  /*laisse 10px de gap entre les objets de la liste*/

}

.skills-badges li{
    background: var(--fond); /*définit la couleur derrière chaque objet de la liste*/
    padding: 10px 15px;
    border-radius: 5px;
    border-left: 5px solid #3498db;
    /*ici pas besoin de spécifié le gap entre les blocs car c'est déjà spécifié dans le parent (ul)*/
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}

.card{
    display: block;
    text-decoration: none;
    color: inherit;
    background-color: var(--fond);
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); /* Petite ombre portée */
    overflow: hidden;       /* Empêche l'image de dépasser des coins ronds */
    transition: transform 0.3s;
}

.card p{
    margin-left: 20px;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2); /* L'ombre grandit (effet de levitation) */
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    margin-left: 20px;
    margin-bottom: 10px;    /* Espace sous le titre */
    color: #2c3e50;
}

.card:hover h3 {
    color: #3498db; /* Le bleu de ton thème */
}

.style-list li{
    margin-left: 50px;
}

.name-projet {
    color: #3498db;
    text-align: center;
    padding-top: 20px;
}

.img-container {
    text-align: center;
    margin: 30px 0;/*haut bas gauche droite*/
}

.img-container img{
    max-width: 100%; /*l'enfant ne pourra/doit pas dépasser la taille du parent*/
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.img-list {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.scroll-tab{
    width: 100%;
    max-width: 900px;
    height: 500px;
    overflow: auto; /*pour scroll*/
    margin: 0 auto;
    border: 2px solid #2c3e50;

    background-color: white;
}

.synt-img{
    width: 100%;
    height: auto;
    display: block;
}

.section-pdf-btn{
    text-align: center;
}